*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/main/java/lanet/bhavin/rxjavasample/global/BuildVars.java
app/libs/
app/src/main/java/lanet/bhavin/rxjavasample/global/
